# Python 3.12, pytorch 2.8.0, cuda 12.8

--index-url https://download.pytorch.org/whl/cu128
torch==2.8.0
torchvision==0.23.0
torchaudio==2.8.0

--extra-index-url https://pypi.org/simple
--find-links https://data.pyg.org/whl/torch-2.8.0+cu128.html
torch_geometric
pyg_lib
torch_scatter
torch_sparse
torch_cluster
e3nn
ase
hydra-core
wandb
